<h1><%= @list.name %></h1>

<div class="container">
  <div class="card-trip">
    <div class="movies">
      <% @list.bookmarks.each do |bookmark| %>
        <%= link_to "Delete ", bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
        <p><%= bookmark.movie.title%></p>
        <p><%= bookmark.movie.overview%></p>
        <p><%= bookmark.movie.rating%></p>
        <p><%= bookmark.comment%></p>
      <% end %>
    </div>
  </div>
</div>


<a class="btn btn-ghost" href="#"><%= link_to "Back to task list", lists_path  %></a>
<a class="btn btn-ghost" href="#"><%= link_to "Add a movie", new_list_bookmark_path(@list)%></a>
